.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.todolist {
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background-color: aquamarine;
}

.todolist-empty {
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background-color: antiquewhite;
}

.error {
  color: red
}

.error-input {
  border: 1px solid red;
}

.input {
  outline: none;
}

.input:focus {
  outline: none;
}

.active-filter {
  background-color: gold;
}

.is-done {
  opacity: 0.7;
}