/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/


.todolist {
  border-radius: 5px;
  padding: 20px;
  /*background-color: aquamarine;*/
}

.todolist-empty {
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  background-color: antiquewhite;
}

.error {
  color: red
}

.error-input {
  border: 1px solid red;
}

.input {
  outline: none;
}

.input:focus {
  outline: none;
}

.active-filter {
  background-color: gold;
}

.is-done {
  text-decoration: line-through;
}

.task-title {
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.add-from {

}